.post {
    display: flex;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 1rem;
    text-align: center;

}

.post figure, h5 {
    margin: 0;
}

.heart {
    color: red;
}

.heart:hover {
    color: rgb(54, 54, 168);
}

.heartOutline:hover {
    color: rgb(254, 116, 116);
}

.container {
  min-height: 343px;
}

.content {
  background-color: var(--bs-body-bg);
  padding: 1rem;
}

.image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}