.button {
  font-size: 1rem;
  align-self: center;
  padding: 4px 10px;
  min-width: 5rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0;
  margin: 1rem 0 1.5rem;
  text-transform: uppercase;
}

.button:hover {
  opacity: .7;
  cursor: pointer;
}

.button:hover:active {
  background-color: #2142b2 !important;
}

.button:active {
  background-color: #2142b2 !important;
}

.button:focus {
  background-color: #2142b2;
}

.wide {
  padding: .5rem 3rem;
  width: 100%;
}

