.authCard {
  color: var(--main-text-color);
  border-radius: 0;
  border: none;
}

.authInput {
  background: #ffffff;
  border: 1px solid #e4e4e4;
  color: var(--main-text-color);
  border-radius: 0;
}

.authHeader {
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.authLink {
  text-decoration: none;
  padding-left: .5rem;
}

.authLink span {
  display: inline-block;
  color: var(--secondary-color);
}
